@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: var(--black);
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --black: #3B434E;
    --gray-light: #EBEBEB;
    --gray-dark: #787D85;
    --white: #fff;
    --primary: #7653FC;
    --primary-hover: #6344df;
    --background-color: #F9F8FF;
    --red: #FC836D;
    --green: #1DC37E;
    --green-light: #C8F8E4;
    --font-family: 'Noto Sans', sans-serif;
}

.active {
    color: var(--primary-hover);
}

.btn {
    padding: 5px 8px;
    border: 1px solid var(--primary);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
}

.common-btn {
    background-color: var(--primary);
    color: #fff;
}

.common-btn:hover {
    background-color: var(--primary-hover);
}

.outline-btn {
    background-color: var(--white);
    color: var(--primary);
}

.outline-btn:hover {
    background-color: var(--primary-hover);
    color: var(--white);
}

.edit-btn {
    border-color: #1DC37E;
    background-color: var(--green);
    color: var(--white);
}

.delete-btn {
    border-color: var(--red);
    background-color: var(--red);
    color: var(--white);
}
.error-block {
    padding: 5px;
    border: 1px solid red;
    border-radius: 4px;
    color: fff;
    background-color: var(--red);
}